<div class="wide-top-bar">
    <h1>Amigos</h1>
</div>
<div id="main">
    <div class="row">
    <%@amigos.each do |t|%>
        <div class="large-4 columns">
            <section class="amigos">
                <h1>
                    <a href="<%=t.usuario%>/painel">
                        <img src="https://graph.facebook.com/<%=t.usuario%>/picture?width=200&height=200" title="<%=t.nome%>">
                    </a>
                </h1>
                <p>
                    <span>
                        <i class="icon-location-arrow"></i> 
                        <%=t.localizada%>
                    </span>
                </p>
                <h2><%=t.nome%></h2>
            </section>
        </div>
    <%end%>
    </div>
</div>

