<div class="wide-top-bar">
    <h1>Tarefas em Destaque</h1>
</div>
<div id="main">
    <div class="row">
        <div class="large-12 columns">
            <header id="perfil-usuario">
                <hgroup>
                    <h1><img src="https://graph.facebook.com/<%=@usuario.usuario%>/picture?width=200&height=200" title="Gabriel Medina"></h1>
                    <h2><%=@usuario.nome%></h2>
                </hgroup>
                <div class="perfil-statistica">
                    <div>Amigos</div>
                    <div><%=@usuario.usuarios.count%></div>
                </div>
                <% if @usuario._id != session[:usuario]._id%>
                <% if !@vinculo %>
                <div class="botao-seguir">
                    <a href="/amigos/<%=@usuario.usuario%>/adicionar/<%=@usuario._id%>" class="button">Adicionar aos Amigos</a>
                </div>
                <% else %>
                <div class="botao-seguir">
                    <a href="/amigos/<%=@usuario.usuario%>/remover/<%=@usuario._id%>" class="button">Remover Amigo</a>
                </div>
                <% end %>
                <% end %>
            </header>
            <%@usuario.tarefas.each do |t|%>
                <% if t.visibilidade < 3 %>
                    <section class="perfil-tarefas">
                        <p>
                            <span>
                                <i class="icon-calendar"></i> 
                                <%=t.data_inicio.strftime("%d/%m/%Y")%>
                            </span>
                            <span>
                                <i class="icon-edit"></i>
                                <i class="icon-plus-sign-alt"></i>
                            </span>
                        </p>
                        <h1><%=t.titulo%></h1>
                        <p><%=t.descricao%></p>
                    </section>
                <%end%>
            <%end%>
        </div>
    </div>
</div>